@media screen and (max-width: 768px) {
    .first-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 768px;
    }

    .about-me {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 768px;
    }

    .whatIdo {
        display: flex;
        flex-direction: column;
        margin-bottom: 320px;
    }     
    
    .latest-work-image1{
        display: flex;
        flex-direction: column;
    }

    .latest-work-image2{
        display: flex;
        flex-direction: column;
    }

    .free-box {
        display: none;
    }
    
    .contact_me {
        display: flex;
        flex-direction: column;
    }

    .form-group input {
        width: 450px;
    }

    .form-group textarea {
        width: 450px;
    }
}